@font-face {
    font-family: 'GriffosFont';
    src: url('GriffosFont.eot');
    src: local('GriffosFont'),
        url('GriffosFont.eot?#iefix') format('embedded-opentype'),
        url('GriffosFont.woff2') format('woff2'),
        url('GriffosFont.woff') format('woff'),
        url('GriffosFont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GriffosSCapsFont';
    src: url('GriffosSCapsFont.eot');
    src: local('GriffosSCapsFont'),
        url('GriffosSCapsFont.eot?#iefix') format('embedded-opentype'),
        url('GriffosSCapsFont.woff2') format('woff2'),
        url('GriffosSCapsFont.woff') format('woff'),
        url('GriffosSCapsFont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

